body
  margin: 0px
  background: #111
  color: #CCC
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 200
  font-size: 20px
  z-index: 0

html, body 
  height: 100%

.btn
  margin: 0px 10px

a
  text-decoration: none

a:hover
  text-decoration: none

#spinner
  text-align: center
  margin-top: 250px

#logo
  background: #111
  position: absolute
  z-index: 9
  bottom: 100px
  padding: 24px 12px 24px 35px
  font-size: 13px
  p
    margin: 0px
    padding: 0px
  img
    width: 100px
    padding: 2px 0px

#homepage
  text-align: center
  .logo
    img
      width: 100px
      padding: 10px
    margin-top: 50px
    font-size: 16px
  .login
    p
      font-size: 70px
      line-height: 70px
      padding: 10px
      margin-bottom: 20px
    margin-top: 200px 

#welcome
  position: relative
  z-index: 2
  display: none
  #hello
    padding: 20px
    font-size: 50px
    line-height: 70px
    font-style: italic
  #content
    text-align: center
    padding: 100px 0px

#profile
  display: none
  position: relative
  z-index: 3
  text-align: center
  #user
    margin-top: 150px
  img
    padding: 10px
  #roster
    margin-top: 50px
    ul
      display: inline
  #intercom
    display: none
    button
      margin: 0px 10px

#localVideo
  position: absolute
  z-index: 1
  top: 0px
  left: 0px
  width: 100%
  opacity: 0.3
  display: none
    
#remoteVideo
  position: absolute
  z-index: 1
  top: 0px
  left: 0px
  width: 100%
  display: none

#miniVideo
  position: fixed
  z-index: 2
  bottom: 20px
  right: 30px
  width: 200px
  box-shadow: 0px 0px 20px 5px #000
  display: none

#hangup
  z-index: 4
  display: none
  position: fixed
  right: 75px
  bottom: 20px

#github
  z-index: 4
  position: fixed
  bottom: 10px
  text-align: center
  width: 100%
  font-size: 15px
