#modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", "data-dismiss"="modal","aria-hidden"="true")&times;
        a(href='https://github.com/malditogeek/vmux', target='_blank')
          img(src='/vmux_logo.png', style='width: 100px;')
      .modal-body
        p 
          | VMUX is open-source software, you can fork it on 
          a(href='https://github.com/malditogeek/vmux', target='_blank') GitHub.
        p 
          | If you have any questions, join the conversation on 
          a(href='https://gitter.im/malditogeek/vmux', target='_blank') Gitter.
        p ~
        p
          | Thanks for using VMUX!
        p
          i.fa.fa-heart
