doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="mobile-web-app-capable",content="yes")
    meta(content='Secure peer-to-peer video calls in your browser using WebRTC.', name='description')
    meta(content='webrtc, p2p, peer-to-peer, videoconference, chat', name='keywords')
    link(href="/vmux.css", rel="stylesheet")
    script(src="/vmux.js", type="text/javascript")
    title VMUX
  body
