#modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", "data-dismiss"="modal","aria-hidden"="true")&times;
        a(href='https://github.com/malditogeek/vmux', target='_blank')
          img(src='/vmux_logo.png', style='width: 200px;')
      .modal-body
        p vmux is open-source software
