!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic', rel='stylesheet', type='text/css')
    != SocketStream
    title VMUX
  body
