!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content='Secure peer-to-peer video calls in your browser using WebRTC.', name='description')
    meta(content='webrtc, p2p, peer-to-peer, videoconference', name='keywords')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic', rel='stylesheet', type='text/css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
    != SocketStream
    title vmux.co
  body
