#bgvideo
  video#loopback(autoplay, muted)

#wrapper
  #background
  #container
    #navbar
    #singleuser
      p
        img.img-circle(src="{{avatar}}")
      p
        small {{name}}
      p
        button.call.btn.btn-info Call

  #conversation
