#homepage
  .row-fluid
    .span12
      .logo
        img(src='/logo_white_200.png')
        p video calls in your browser
      .login
        p Goodbye Skype.
        a.btn.btn-primary.btn-large(href='/auth/twitter') Login with Twitter

#github
  a(href='https://github.com/malditogeek/vmux', target='_blank') 
    small VMUX is open-source, fork it on GitHub.
  a(href='http://opensource.jit.su/', target='_blank') 
    small Hosting courtesy of Nodejitsu.

