#bgvideo
  video#loopback(autoplay, muted)

#wrapper
  #background
  #container
    #sidebar
    #greeting
      p Hello {{user.name}}!
    #roster
    #placeholder
      {{#user.guest}}
      p To receive a call, send this link:
      p
        a(href="https://vmux.co/{{user.uuid}}") https://vmux.co/{{user.uuid}}
      {{/user.guest}}

      {{^user.guest}}
      p 
        i.fa.fa-spinner.fa-spin
      p
        |  Waiting for friends...
      {{/user.guest}}
  #conversation
