#bgvideo
  video#loopback(autoplay, muted)

#wrapper
  #background
  #container
    #navbar
    {{#user.guest}}
    .guest-notice
      p 
        |To receive a call, send this link: 
        a(href="{{host}}/{{user.uuid}}") {{host}}/{{user.uuid}}
    {{/user.guest}}
    #roster
    #placeholder
      {{^user.guest}}
      p None of your friends are online.
      {{/user.guest}}
  #conversation

#notification
