#homepage
  .logo
    img(src='/vmux.png')
    p video calls in your browser
  .login
    p Goodbye Skype.
    a#twitter-login.btn.btn-primary.btn-lg(href='/auth/twitter') Login with Twitter
    a#guest-login.btn.btn-primary.btn-lg(href='#') Login as Guest

  .about
    p VMUX is a Skype™ alternative that runs in the browser. It's built on top of WebRTC so you don't need to install any plugins or use Flash. You can do one-to-one or multi-party video calls and all the communications and P2P are encrypted.

#github
  a(href='https://github.com/malditogeek/vmux', target='_blank') 
    small VMUX is open-source, fork it on GitHub.
