video#localVideo(autoplay, muted)
video#remoteVideo(autoplay)
video#miniVideo(autoplay, muted)

#spinner
  img(src='/spinner.gif')

#profile
  .row-fluid
    .span12
      #user
      #intercom
      #roster

#hangup
  a#call.btn.btn-danger Hangup

#logo
  a(href='https://github.com/malditogeek/vmux', target='_blank')
    img(src='/logo_white_200.png')

#github
  a(href='https://github.com/malditogeek/vmux', target='_blank') 
    small VMUX is open-source, fork it on GitHub.
  a(href='http://opensource.jit.su/', target='_blank') 
    small Hosting courtesy of Nodejitsu.

