#bgvideo
  video#loopback(autoplay, muted)

#wrapper
  #background
  #container
    #navbar
    #singleuser
      p
        img.img-circle(src="{{profile_image_url_https}}")
      p
        small {{screen_name}}
      p
        button.call.btn.btn-info Call

  #conversation
