video#localVideo(autoplay, muted)

#spinner
  img(src='/spinner.gif')

#welcome
  .row-fluid
    .span12
      #hello
        p Hello {{nick}}!
      #content
        p This is your vmux:
        p
         a#vmuxid(href='/{{nick}}') http://vmux.co/{{nick}}
        p
          small To receive a call, go to your vmux page and send the link to a friend.

#logo
  a(href='https://github.com/malditogeek/vmux', target='_blank')
    img(src='/logo_white_200.png')

#github
  a(href='https://github.com/malditogeek/vmux', target='_blank') 
    small VMUX is open-source, you can fork it on GitHub.
