.call-request.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        p 
          img.img-circle(src="{{user.profile_image_url_https}}")
        p Accept {{type}} call from {{user.screen_name}}?
        p
          small Grant access to your {{type}} input first
        p
          button.reject.btn.btn-danger.donotdisplay  Decline
          button.accept.btn.btn-success.donotdisplay Accept
          audio(src='/ringtone.mp3', autoplay, loop)
