#controls
  i#toggle-fullscreen.fa.fa-arrows-alt.tip(data-toggle="tooltip", data-placement="bottom", title="Go full-screen")
  i#toggle-audio.fa.fa-microphone.tip(data-toggle="tooltip", data-placement="bottom", title="Microphone is ON")
  i#toggle-video.fa.fa-video-camera.tip(data-toggle="tooltip", data-placement="bottom", title="Camera is ON")
  i#hangup.fa.fa-sign-out.tip(data-toggle="tooltip", data-placement="bottom", title="Hangup")


#chat
  #chat-messages
  #chat-input

video#remote(autoplay)
video#local(autoplay, muted)
