#content
  #user
    img.img-circle(src="{{avatar}}")

  #menu
    ul
      li
        a#home(href='#')
          img(src='/home.png')
      li
        a#group(href='#')
          img(src='/group.png')
      li
        a#info(href='#')
          img(src='/info.png')


  #logo
    a(href='https://github.com/malditogeek/vmux', target='_blank')
      img(src='/vmux.png')
