video(autoplay, poster='/video-poster.jpg')
.screen_name 
  img.img-circle.avatar(src="{{profile_image_url_https}}") 
  span {{screen_name}}

//{{#local}}
//#controls
//  i#toggle-audio.fa.fa-microphone.tip(data-toggle="tooltip", data-placement="top", title="Microphone is ON")
//  i#toggle-video.fa.fa-video-camera.tip(data-toggle="tooltip", data-placement="top", title="Camera is ON")
//{{/local}}
